@model InputHeroModel
@using GameOfRevenge.WebAdmin.Models

<form id="hero-modal-form" method="post" data-ajax-method="post" data-ajax="true"
      data-ajax-success="PostSuccess" data-ajax-failure="PostFailure"
      data-ajax-url="?handler=SaveHeroChanges">
    <div class="modal-header">
        <h4 class="modal-title">@Model.Hero.HeroType</h4>
        <button class="close" type="button" data-dismiss="modal"><span>x</span></button>
        <input type="hidden" asp-for="PlayerId" value="@Model.PlayerId" />
        <input type="hidden" asp-for="HeroType" value="@Model.HeroType" />
        <input type="hidden" asp-for="HeroValues" value="" />
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <div class="form-group col-sm-5">
                <strong id="label-title">Points (Level @Model.Hero.Level)</strong>
                <p class="col-form-static py-2" id="label-value" for="input-newvalue">@Model.Hero.Points</p>
            </div>
            <div class="form-group col-sm-6">
                <strong id="label-newvalue">New Value (Level 0)</strong>
                <input class="form-control bg-light text-dark" id="input-newvalue" autocomplete="off"
                       type="text" placeholder="" value="">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-warning" type="submit" id="edit-modal-save">Save changes</button>
    </div>
</form>
